{%extends "layout.html" %}
{% set active_page = "color" %}
{% block title %} Favorite Color {% endblock %}
{% block content %}
    <h1>Name and Favorite Color</h1>
    <form action="/response">
      first name:<br>
      <input type="text" name="firstname">
      <br>
      last name:<br>
      <input type="text" name="lastname">
      <br>
      favorite color:<br>
      <input type="text" name="favoritecolor"
      <br><br>
      <input type="submit" value="Submit">
    </form> 
{% endblock %}
