{%extends "layout.html" %}
{% set active_page = "color" %}
{% block title %} Favorite Color {% endblock %}
{% block content %}
    <h1>Name and Favorite Color</h1>
    <form action="/response">
      first name:<br>
      <input type="text" name="firstname">
      <br>
      last name:<br>
      <input type="text" name="lastname">
      <br>
      favorite color:<br>
      <input type="text" name="favoritecolor"
      <br><br>
      <input type="submit" value="Submit">
    </form> <img id="d1" src = "{{url_for('static',filename = 'donald1.jpg')}}" alt = "Hi my name is Donald Duck and my favorite color is blue.">
	</form> <img id="d2" src = "{{url_for('static',filename = 'donald2.jpg')}}" alt = "What is your name? What is your favorite color?">
{% endblock %}
